.container {
    margin: auto;
    text-align: center;
    width: 70%;
  }
  
  .dice {
    display: inline-block;
    text-align: center;
  }
  
  body {
    background-color: #020710;
  }
  
  h1 {
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    margin: 20px;
    text-shadow: 5px 0 #232931;
  }

  h2 {
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    margin: 10px;
    text-shadow: 2px 0 #566271; 
  }
  
  p {
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
  }
  
  img {
    width: 80%;
  }

  button{
    border-radius: 3em;
    font-size: xx-large;
    font-weight: bolder;
    margin: 20px;
    padding: 20px;
  }
  
  footer {
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;
    margin-top: 5%;
    text-align: center;
  }

  /* media query */

  @media (max-width:991px){
    
    h1{
      font-size: 3rem;
    }

    h2{
      font-size: 2rem;
    }

    .dice p{
      font-size: 1rem;
    }

    .dice img{
      height: 50%;
      width: 50%;
    }

    button{
      font-size: 1rem;
      padding: 5px;
    }

    footer{
      font-size: small;
    }
  }
  
